body{
    background-image: url(./space.jpg);
    background: rgb(9, 8, 24);
    
}
section{
    background: rgba(137, 134, 134, 0.27);
    color: rgba(109, 147, 194, 0.992); 
    width: 500px;
    margin: auto;
    border-radius: 12px;
    padding: 12px;
    margin-top: 250px;
}
header{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#mail{
    border-radius: 4px;
    width: 350px;
    margin-top: 10px;
    margin-left: 10px;
    box-shadow: 2px 2px 5px rgba(164, 161, 161, 0.633);
    font-size: 20px;
    color: rgb(36, 36, 63);
}
.label-visual{
    margin-left: 10px;
    font-weight: bold;
    font-size: 20px;
}
#password{
    margin-top: 12px;
    border-radius: 4px;
    width: 350px;
    margin-top: 10px;
    margin-left: 10px;
    box-shadow: 2px 2px 5px rgba(164, 161, 161, 0.633);
    font-size: 20px;
}
.pass{
    margin-top: 12px;

}
#but{
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
    width: 80px;
    height: 40px;
}
#but:hover{
    color:black;
    background: rgb(214, 214, 237);
    box-shadow: 2px 2px 10px rgba(70, 147, 218, 0.811);
}
#check{
    margin-top: 12px;
    margin-left: 12px;
}
#link-cadastro{
    margin-left: 175px;
    text-decoration: none;
    color: rgba(164, 161, 161, 0.633);
}
