section{
    margin: auto;
    background: white;
    padding: 30px;
    width: 500px;
    border-radius: 50px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.76);
    background: #6b6e69;
}
h1{
    font-size: 28px;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.623);
    text-align: center;
}
body{
    background: rgb(192, 191, 191);
}
#but{
    margin-left: 37px;
}
#but:hover{

    background: rgb(198, 196, 196);
    box-shadow: 2px 2px 5px black;

}